@keyframes spread-effect {
  0% {
    border-radius: 100%;
    transform: scale(0);
    opacity: 0;
  }

  40% {
    border-radius: 50%;
    transform: scale(0.6);
    background-color: var(--node-visited-animation-start-color);
    opacity: 1;
  }

  50% {
    border-radius: 10%;
    transform: scale(1.1);
    background-color: var(--node-visited-animation-end-color);
  }

  100% {
    border-radius: 100%;
    transform: scale(0);
    background-color: var(--canvas-background-color);
  }
}

@keyframes path {
  0% {
    border-radius: 100%;
    transform: scale(0);
  }

  100% {
    border-radius: 0%;
    transform: scale(1);
  }
}

.Node {
  width: 30px;
  height: 30px;
  background-color: var(--canvas-background-color);

  .bg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: var(--canvas-background-color);
    }
  }

  .spread-animation {
    animation: spread-effect 2s;
  }

  .path-animation {
    animation: path 1s;
  }

  .start {
    background-color: var(--node-start-color) !important;
  }

  .path-node {
    background-image: var(--node-path-gradient);
  }

  .end {
    background-color: var(--node-end-color) !important;
  }

  .wall {
    background-color: var(--node-wall-color) !important;
  }

  .weighted {
    background-color: var(--node-weight-color) !important;
  }
}
