.Action-Button {
  height: 20px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid var(--secondary-color);
  background-color: var(--primary-color);
  transition: all 0.5s ease;
  overflow: hidden;
  cursor: pointer;

  .label {
    display: flex;
    color: var(--accent-color);
    justify-content: center;
    width: 0px;
    transition: all 0.5s ease;
    opacity: 0;
  }

  &:hover {
    box-shadow: 0 0 5px 1px var(--accent-color);

    .label {
      margin-left: 5px;
      width: 50px;
      opacity: 1;
    }
  }

  svg {
    fill: var(--accent-color) !important;
  }
}
