@use "/src/variables.scss" as *;

.Legends {
  height: var(--legends-section-height);
  display: flex;
  justify-content: space-around;

  .legend {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  @media (max-width: $layout-breakpoint) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    padding: 10px;
    justify-self: center;
    row-gap: 10px;
    overflow-y: scroll;
    margin-bottom: 10px;
  }
}
