.Theme-Switcher {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--other-primary-color);
  background-color: var(--other-accent-color);
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px 1px var(--other-primary-color);
  }
}
