@use "/src/variables.scss" as *;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --top-menu-height: 8vh;
  --legends-section-height: 8vh;
}

body {
  margin: 0;
  color: var(--color);
  overflow: hidden;
  background-color: var(--secondary-color);
}

@media (max-width: $layout-breakpoint) {
  :root {
    --top-menu-height: 18vh;
    --legends-section-height: 10vh;
  }
}
