// theme
$color: #f0f2f5;
$accent-color: #ffb86c;
$background-color: #383a59;

// canvas
$gap: 0.8px;
$canvas-background-color: #282a36;

// node
$node-end-color: #fb9595;
$node-start-color: #50fa7b;
$node-path-color: #f1fa8c;
$node-wall-color: #ffb86c;
$node-weight-color: red;
$node-visited-animation-start-color: #32f477;
$node-visited-animation-end-color: #fb9595;

// top-menu
$top-menu-height: 8vh;
$top-menu-color: #282a36;

// legends
$legends-height: 8vh;
