@use "/src/variables.scss" as *;
.Canvas {
  flex: 1;
  width: 100vw;
  display: flex;
  .grid {
    margin: auto;
    width: min-content;
    background-color: var(--secondary-color);
    display: grid;
    gap: $grid-gap;
    padding: $grid-gap;

    overflow: hidden;
  }
}
