@use "/src/variables.scss" as *;

.Top-Menu {
  height: $top-menu-height;
  max-height: $top-menu-height;
  background-color: var(--top-menu-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 5px 25px;

  .logo {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 5px;
    img {
      margin: auto 0;
    }

    h2 {
      color: var(--accent-color);
    }
  }

  .menu {
    display: flex;
    justify-content: center;

    svg {
      fill: var(--color);
    }
  }

  .actions {
    display: flex;
    justify-content: end;
    gap: 10px;
  }

  .start-visualization-btn {
    margin-left: auto;
    width: 200px;
    background-color: var(--top-menu-color);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    font-size: 1rem;
    padding: 14px 32px;
    transition-duration: 0.5s;
    cursor: pointer;
  }

  .start-visualization-btn:hover {
    color: var(--primary-color);
    background-color: var(--accent-color);
  }
}
