@use "/src/variables.scss" as *;

.Top-Menu {
  height: var(--top-menu-height);
  max-height: var(--top-menu-height);
  background-color: var(--top-menu-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 5px 25px;

  .logo {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 5px;
    img {
      margin: auto 0;
    }

    h2 {
      color: var(--accent-color);
    }
  }

  .menu {
    display: flex;
    justify-content: center;

    svg {
      fill: var(--color);
    }
  }

  .actions {
    display: flex;
    justify-content: end;
    gap: 10px;
  }

  @media (max-width: $layout-breakpoint) {
    grid-template-columns: 1fr;

    .logo,
    .actions {
      align-items: center;
      justify-content: center;
    }
    .actions {
      margin-top: 20px;
    }
  }
}
