@use "/src/variables.scss" as *;

.Top-Menu {
  height: $top-menu-height;
  max-height: $top-menu-height;
  background-color: $top-menu-color;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 5px 10px;

  .logo {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 5px;
    img {
      margin: auto 0;
    }
  }

  .menu {
    display: flex;
    justify-content: center;
  }

  .start-visualization-btn {
    margin-left: auto;
    width: 200px;
    background-color: $top-menu-color;
    border: 2px solid $color;
    color: $color;
    font-size: 1rem;
    padding: 14px 32px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .start-visualization-btn:hover {
    color: white;
    background-color: $color;
  }
}
